language: php

php:
  - 5.6
  - 7.0
  - 7.1
  - nightly

before_install:
  - echo "extension = redis.so" >> ~/.phpenv/versions/$(phpenv version-name)/etc/php.ini

before_script:
  - composer install

script: ./vendor/bin/phpunit --configuration phpunit.xml